:root{
    --darkGray: #202123;
    --darkMiddle: #343541;
    --darkBrighT: #444654;
    --darkFootprint: #9A9B9F;
    --darkIcons: #C5C5D1;
    --darkBright: #ECECF1;
    --white: #FFFFFF;
    --greenAcenture: #0FA47F;
    --greenDark:#00897B;
    --greenLight:#8DCDB8;
    --blue:#5536DA;
    --bordaCinza: #C3C8CF;

}